
<script src="quotes.ts"></script>
<ion-header>
  <ion-navbar>
    <ion-title>{{ quoteGroup.category | uppercase}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let quote of quoteGroup.quotes; let i = index">
    <ion-card-header>
      #{{ i+1 }}
    </ion-card-header>
    <ion-card-content>
      <p>{{ quote.text }}</p>
      <p class = "author">{{ quote.person }}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button
                ion-button
                clear
                small
                (click)="onAddToFavorite(quote)"
        *ngIf="!isFavorite(quote)">Favorite</button>
        <button
                ion-button
                clear
                small
                color="danger"
                (click)="onRemoveFromFavorite(quote)"
                *ngIf="isFavorite(quote)">Unfavorite</button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
